{% extends 'base.j2' %}
{% block content %}
  <div class="container col-4 mt-3 text-center">
    <legend class="h2">Edit Date of Birth</legend>
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="input-group input-group mb-2">
        <div class="input-group-prepend">
          {{ form.birthday.label(class='font-weight-bold input-group-text')}}
        </div>
        {% if form.birthday.errors %}
          {{ form.birthday(class='form-control is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.birthday.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.birthday(class='form-control') }}
        {% endif %}
      </div>
      <div class="input-group input-group mb-2">
        <div class="input-group-prepend">
          {{ form.password.label(class='font-weight-bold input-group-text')}}
        </div>
        {% if form.password.errors %}
          {{ form.password(class='form-control is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.password(class='form-control') }}
        {% endif %}
      </div>
      <div class="mb-2">
        {{ form.submit(class='btn btn-lg btn-outline-primary')}}
      </div>
    </form>
  </div>
{% endblock %}