{% extends 'base.j2' %}
{% block content %}
  <div class="container col col-sm-8 col-md-6 col-lg-5 col-xl-4 mt-2 text-center">
    <legend class="h2">New Recipe</legend>
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          {{ form.name.label(class='font-weight-bold input-group-text') }}
        </div>
        {% if form.name.errors %}
          {{ form.name(class='form-control is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.name.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.name(class='form-control') }}
        {% endif %}
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          {{ form.amount.label(class='font-weight-bold input-group-text') }}
        </div>
        {% if form.amount.errors %}
          {{ form.amount(class='form-control is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.amount.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.amount(class='form-control') }}
        {% endif %}
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          {{ form.unit.label(class='font-weight-bold input-group-text') }}
        </div>
        {% if form.unit.errors %}
          {{ form.unit(class='form-control is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.unit.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.unit(class='form-control') }}
        {% endif %}
      </div>
      {{ form.public }}
      {{ form.public.label }}
      <small class="text-muted">Public products will be displayed in the home page.</small>
      <div class="mb-2">
        {{ form.submit(class='btn btn-outline-primary') }}
      </div>
    </form>
  </div>
{% endblock %}