{% extends 'base.j2' %}
{% block content %}
  {% if user.user_id == current_user.user_id %}
    <div class="float-right col-3 card mr-2 mt-2 px-3 pt-2 bg-light">
  {% else %}
    <div class="card col-3 mx-auto mt-5 px-3 pt-2 bg-light">
  {% endif %}
    <p class="d-flex"><span class="font-weight-bold">Username: </span><span class="ml-auto">{{ user.username }}</span></p>
    <p class="d-flex"><span class="font-weight-bold">Email: </span><span class="ml-auto">{{ user.email }}</span></p>
    <p class="d-flex"><span class="font-weight-bold">Full Name: </span><span class="ml-auto">{{ user.full_name | title }}</span></p>
    {% if user.date_of_birth %}
      <p class="d-flex"><span class="font-weight-bold">Date of Birth: </span><span class="ml-auto">{{ user.date_of_birth.date().strftime('%b %d, %Y') }}</span></p>
    {% endif %}
  </div>
  {% if user.user_id == current_user.user_id %}
  <div class="container col-3 mt-5 text-center">
    <a href="{{ url_for('edit_username') }}">
      <button class="btn btn-lg btn-outline-primary w-100 mb-2">Change Username</button>
    </a>
    <a href="{{ url_for('edit_email') }}">
      <button class="btn btn-lg btn-outline-primary w-100 mb-2">Change Email</button>
    </a>
    <a href="{{ url_for('edit_password') }}">
      <button class="btn btn-lg btn-outline-primary w-100 mb-2">Change Password</button>
    </a>
    <a href="{{ url_for('edit_name') }}">
      <button class="btn btn-lg btn-outline-primary w-100 mb-2">Change Name</button>
    </a>
    <a href="{{ url_for('edit_birthday') }}">
      <button class="btn btn-lg btn-outline-primary w-100 mb-2">Change Date of Birth</button>
    </a>
  </div>
  {% endif %}
{% endblock %}
