{% extends 'base.j2' %}
{% block content %}
  <div class="container col-4 mt-3">
    <legend class="h2 text-center">Register</legend>
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          {{ form.username.label(class='font-weight-bold input-group-text')}}
        </div>
        {% if form.username.errors %}
          {{ form.username(class='form-control is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.username(class='form-control') }}
        {% endif %}
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          {{ form.email.label(class='font-weight-bold input-group-text') }}
        </div>
        {% if form.email.errors %}
          {{ form.email(class='form-control is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.email(class='form-control') }}
        {% endif %}
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          {{ form.password.label(class='font-weight-bold input-group-text') }}
        </div>
        {% if form.password.errors %}
          {{ form.password(class='form-control is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.password(class='form-control') }}
        {% endif %}
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          {{ form.confirm_password.label(class='font-weight-bold input-group-text') }}
        </div>
        {% if form.confirm_password.errors %}
          {{ form.confirm_password(class='form-control is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.confirm_password.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.confirm_password(class='form-control') }}
        {% endif %}
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          {{ form.fullname.label(class='font-weight-bold input-group-text') }}
        </div>
        {% if form.fullname.errors %}
          {{ form.fullname(class='form-control is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.fullname.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.fullname(class='form-control') }}
        {% endif %}
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          {{ form.birthday.label(class='font-weight-bold input-group-text') }}
        </div>
        {% if form.birthday.errors %}
          {{ form.birthday(class='form-control is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.birthday.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.birthday(class='form-control') }}
        {% endif %}
      </div>
      <div class="input-group mb-2">
        {{ form.submit(class='btn btn-outline-primary') }}
      </div>
    </form>
    <p class="text-muted">Already have a user? <a href="{{ url_for('login') }}">Sign in</a>.</p>
  </div>
{% endblock %}
