{% extends 'base.j2' %}
{% block content %}
  <div class="float-right text-center mr-2 mt-2">
    <a href="{{ url_for('profile', user_id=product['user_id']) }}" class="text-decoration-none">
      <div class="card btn-outline-primary w-100">
        <div class="card-header bg-dark text-white">
            <span class="h2 font-weight-bold">
              {{product['username'] }}'s
            </span><br><span class="h3 font-weight-bold">
              {{product['name'] | title}}
            </span><span class='h3'>
              {{ product['amount'] }}{{ product['unit'] }}
            </span>
        </div>
        <div class="card-body text-body">
          <span class="h3">Cost: {{ product['cost'] }}</span>
        </div>
    </a>
    </div>
    {% if current_user.user_id == product['user_id'] %}
    <a href="{{ url_for('delete_product', product_id=product['product_id']) }}">
      <button class="btn btn-outline-danger w-100">Delete Product</button>
    </a>
    {% endif %}
  </div>
  <div class="container col-6 mt-2 text-center">
    <table class="table table-borderless">
        <thead class="thead-dark">
          <tr>
            <th scope="col">{{ form.ingredient.label(class='font-weight-bold')}}</li>
            <th scope="col">{{ form.amount.label(class='font-weight-bold')}}</li>
            <th scope="col">{{ form.unit.label(class='font-weight-bold')}}</li>
          </tr>
        </thead>
      {% for recipe in recipes %}
        <tr>
          <td>{{ recipe['ingredient'] | title }}</li>
          <td>{{ recipe['amount'] }}</li>
          <td>{{ recipe['unit'] }}</li>
          {% if current_user.user_id == product['user_id'] %}
            <td>
              <a href="{{ url_for('delete_recipe', ingredient_id=recipe['ingredient_id'], product_id=product['product_id']) }}">
                <button class="btn btn-outline-danger">X</button>
              </a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
      <tr>
        {% if current_user.user_id == product['user_id'] %}
          <form method="POST" action="" class="row text-center">
            {{ form.hidden_tag() }}
            <td>
              {% if form.ingredient.errors %}
                {{ form.ingredient(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                  {% for error in form.ingredient.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% else %}
                {{ form.ingredient(class='form-control') }}
              {% endif %}
            </td>
            <td>
              {% if form.amount.errors %}
                {{ form.amount(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                  {% for error in form.amount.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% else %}
                {{ form.amount(class='form-control') }}
              {% endif %}
            </td>
            <td>
              {% if form.unit.errors %}
                {{ form.unit(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                  {% for error in form.unit.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% else %}
                {{ form.unit(class='form-control') }}
              {% endif %}
            </td>
            <td>
              {{ form.submit(class='btn btn-outline-primary')}}
            </td>
          </form>
        {% endif %}
      </tr>
    </table>
  </div>
{% endblock %}