{% extends 'base.j2' %}
{% block content %}
  <div class="container col-8 mt-3">
    <div class="row justify-content-center">
      <h2 class="font-weight-bold">{{ username }}'s Recipes</h2>
      <a href="{{ url_for('add_product') }}"><button class="btn btn-primary ml-3">New Recipe</button></a>
    </div>
    <div class="row">
      {% for product in products %}
        <div class="col-2 p-1 text-center">
          <a href="{{ url_for('view_product', product_id=product['product_id']) }}" class="text-decoration-none">
            <div class="card btn-outline-primary">
              <p class="card-header font-weight-bold h4 bg-dark text-white">{{ product['name'] | title }}</p>
              <div class="card-body text-body">
                <p class="h4">{{ product['amount'] }}{{ product['unit'] }}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}